<%- include('partials/header'); -%>
<div class="newsBox">
    <div class="newsImage">
        <h2 class="newsTitle"><%=title%></h2>
        <img src="<%=image%>" style="height:200px">
    </div>
    <h4>📈<%=content%></h4>
</div>

</body>
</html> 